

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.bg-image {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: -100px; 
}


.bg-image img {
    width: 260px; 
    display: block;
    position: relative;
    text-align: center;
}


.botaoI {
    background-color: #307FED; 
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold; 
    padding: 5px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: -2px;

}

.botaoI:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #307FED;
    color: #307FED;
}
