/* Estilo para a contêiner do mapa */
#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca o mapa no fundo da tela */
  background-color: rgb(255, 255, 255); /* Cor de fundo escura */
}

#toggle-menu {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
/* Estilo futurista para o menu suspenso */
#route-select {
  background-color: #ffffff; /* Define o fundo como transparente */
  border: 2px solid #ffffff; /* Adicione uma borda sólida com uma cor futurista (por exemplo, azul) */
  color: #000000a6; /* Define a cor do texto */
  padding: 15px; /* Adicione algum espaço interno para melhor aparência */
  font-size: 18px; /* Tamanho da fonte */
  border-radius: 5px; /* Borda arredondada */
  appearance: none; /* Remove o estilo padrão do sistema */
  margin-top: -40px;
  font-family:sans-serif;
}

/* Estilo para as opções no menu suspenso */
#route-select option {
  background-color: #ffffff; /* Cor de fundo das opções */
  color: #000000a6;  /* Cor do texto das opções */
  font-size: 18px;
  margin-top: -40px; /* Tamanho da fonte das opções */
}

/* Estilize a seta do menu suspenso (você pode usar uma imagem de ícone futurista) */
#route-select::-ms-expand {
  display: none; 
}

#route-select:focus {
  border-color: #1100ff; /* Cor da borda quando em foco */
  box-shadow: 0 0 5px #0011ff; /* Sombra quando em foco */
}

   /* Estilize o sidebar */
   #sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #ffffff;
    color: #ffffff;
    transition: left 0.3s;
    overflow-y: auto;
    padding-top: 60px;
    box-shadow: 0 0 30px #000000;
}
#sidebar-logo {
  display: block;
  margin: 0 auto;
  width: 167px; 
  height: auto;
  margin-bottom: 5px;
}

#sidebar h2 {
  padding: 10px;
  font-size: 20px; 
  margin-top: 20px; 
  margin-left: 6px;
  color: #307FED;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 1px;
    padding: 10px;
    text-align: center;
    z-index: 1; /* Certifique-se de que o menu tenha um z-index maior */
}
#sidebar h3 {
  padding: 10px;
  font-size: 12px; 
  margin-top: 300px; 
  color: #307FED;
  font-family: Arial, Helvetica, sans-serif;
}

#toggle-sidebar {
    position: absolute;
    top: 3px;
    left: 15px;
    z-index: 1;
    text-align: center;
    margin-top: 10px; 
}
/* letreiro localBuss */
#top-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Cor de fundo azul */
  border-radius: 0 0 20px 20px; /* Borda mais arredondada */
  z-index: 0; /* Coloque o fundo atrás do menu */
  height: 40px; /* Altura do fundo azul */
  text-align: center; /* Centralizar o título horizontalmente */
  padding-top: 10px; /* Espaçamento interno superior para centralizar verticalmente */
}

#title {
  font-family: "BankGothic Md BT", sans-serif; /* Fonte "BankGothic Md BT" */
  color: #307eec; /* Cor do texto em branco */
  margin: 0; /* Remova as margens padrão do título */
  letter-spacing: 2px; 
}


.leaflet-control-zoom {
  display: none
  !important; 
}
.animation-button {
  margin-top: 50px; 
}

.navbar {
  position: fixed;
  top: 10px; 
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-family: "BankGothic Md BT", sans-serif;
}

 #sidebar-logo-escuro {
  display: none;
}

#move-button {
  position: absolute;
  bottom: 10px; /* Distância do botão à parte inferior */
  left: 10px; /* Distância do botão à parte esquerda */
  z-index: 1000; /* Certifique-se de que o botão esteja sempre na frente do mapa */
}